
.about-us-area{
	padding: 20px;
	background-color: rgb(208,200,211);
	height: 700px;
}
 
.about-us-area img{
	height: 200px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 50px;
}
		
.about-us-area section{
	float: left;
	width: 40%;
	padding: 5%;
}